// Color pallete
$white: #f9f9f9;
$dark: #222222;
$ash: #a39276;
$red: #ec5759;
$light-red: #f2905a;
$orange: #fabe5a;
$yellow: #ffdf5b;
$light-yellow: #ffe57c;
$green: #8fe360;
$light-green: #7ae790;
$blue: #61dbe6;
$shadow: #e8e8e8;

// break points
$ss: 320px;
$sm: 480px;
$ssm: 600px;
$md: 768px;
$lg: 960px;
$xl: 1200px